{% extends "home/base/base.html" %}

{% block title %}Home{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
<!-- component -->
<!-- This is an example component -->
<div class="w-full h-screen bg-center bg-no-repeat bg-cover">
  <div class="w-full h-screen bg-opacity-50 bg-gradient-to-r from-green-300 to-green-500 flex justify-center items-center">
      <div class="mx-4 text-center text-white">
          <h1 class="font-bold text-6xl mb-4">Soxial</h1>
          <h2 class="font-bold text-3xl mb-12">Some Social Network</h2>
          <div>
              <a href="{% url 'account_login' %}" class="bg-blue-600 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-200 mr-2">
                  Login
              </a>
              <a href="{% url 'account_signup' %}" class="bg-green-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-green-200 ml-2">
                  Signup
              </a>
          </div>
      </div>
  </div>
</div>
{% endblock content %}